<div class="col-md-12">
    
    
    <div class="row">
        <div class="col-md-2">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="client" class="col-md-3 control-label">Client</label>
                    <div class="col-md-12">
                        <select id="client" data-placeholder="Séléctionner un client" class="form-control chosen-select-client">
                            <option value=""></option>
                            <option value="0">Tous</option>
                            {% for client in clients %}
                            <option value="{{ client.id }}">{{ client.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="hidden">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="site" class="col-md-2 control-label">Site</label>
                    <div class="col-md-10">
                        <select id="site" data-placeholder="Séléctionner un site" class="form-control chosen-select-site">
                            <option value=""></option>
                            {#Liste site#}
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="dossier" class="col-md-2 control-label">Dossier</label>
                    <div class="col-md-12">
                        <select id="dossier" data-placeholder="Séléctionner un dossier" class="form-control chosen-select-dossier">
                            <option value=""></option>
                            {# Liste dossier #}
                        </select>
                    </div>
                </div>
            </form>
        </div>
        {# <div class="col-md-1">
        <div class="dropdown">
            <button class="btn btn-default btn-outline dropdown-toggle btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                <li><a href="#" id="btn-add-tache">Ajouter une Tâche</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" id="btn-import-tache-client">Importer Tâches Client</a></li>
            </ul>
            </div>
        </div> #}
        <div class="col-md-1">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        <span>Exercice</span>
                    </label>
                    <div class="col-md-12">
                        <select class="form-control" id="exercice">
                                <option value=""></option>
                            {% for exercice in exercices %}
                                <option value="{{ exercice }}">{{ exercice }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-2">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        <span>Periode</span>
                    </label>
                    <div class="col-md-10">
                        <select class="form-control" name="filtre_fourchette" id="js_filtre_periode">
                            <option value=""></option>
                            <option value="1">Aujourd'hui</option>
                            <option value="2">Depuis une semaine</option>
                            <option value="3">Depuis un mois</option>
                            <option value="4">Toute l'exercice</option>
                            <option value="5">Fourchette</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div id="js_filtre_fourchette" class="col-md-3" style="display:none;">
            <form class="form-horizontal">
                <label class="col-md-3 control-label" style="visibility: visible;">
                    <span>Date</span>
                </label>
                <div class="input-group row date col-md-12">
                    <div class="col-sm-20">
                        <input type="text" class="input form-control" name="debut" id="js_debut_date">
                    </div>
                    <span class="input-group-addon">Au</span>
                    <input type="text" class="input form-control" name="fin" id="js_fin_date">
                </div>
            </form>
        </div>
        <div class="col-md-1" style="display: block;">
            <form class="form-horizontal">
                <label class="col-md-3 control-label" style="visibility: hidden;">
                    <span>Test</span>
                </label>
                <button id="btn_situation_image" class="btn btn-sm btn-primary btn-block" ><i class="fa fa-check"></i> Go</button>
            </form>
        </div>

        <div class="col-md-1" style="display: block;">
            <form class="form-horizontal">
                <label class="col-md-3 control-label" style="visibility: hidden;">
                    <span>Test</span>
                </label>
                <div id="loader" class="col-md-1" style="padding-top: 30px;">
                </div>
            </form>
        </div>
    </div>
</div>
                         