{% extends '@App/index/base-menu-intranet.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }} | Parametre BAREMES FISCAUX
{% endblock %}

{% block content %}
    <h1>Barèmes Fiscaux</h1>
{% endblock %}