<div class="row">
    <div class="col-sm-12">
        <div class="ibox-content">
            <ul class="todo-list m-t ui-sortable">
                <li>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" class="cl_chk_list">
                        <label>
                            Dossier
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="" class="cl_chk_list">
                        <label for="">
                            Tâche
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="" class="cl_chk_list">
                        <label for="">
                            Echeance
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="" class="cl_chk_list">
                        <label for="">
                            Responsable
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="" class="cl_chk_list">
                        <label for="">
                            Banque importée
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="" class="cl_chk_list">
                        <label for="">
                            RB1
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="" class="cl_chk_list">
                        <label for="">
                            RB2
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="" class="cl_chk_list">
                        <label for="">
                            Ecart
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="" class="cl_chk_list">
                        <label for="">
                            OB
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="" class="cl_chk_list">
                        <label for="">
                            Image
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="" class="cl_chk_list">
                        <label for="">
                            A lettrer
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="" class="cl_chk_list">
                        <label for="">
                            Indicateur
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="" class="cl_chk_list">
                        <label for="">
                            Totales lignes
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="" class="cl_chk_list">
                        <label for="">
                            Lettrée
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="" class="cl_chk_list">
                        <label for="">
                            Clef
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="" class="cl_chk_list">
                        <label for="">
                            Pièce manquante
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="" class="cl_chk_list">
                        <label for="">
                            Chèques inconnus
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="" class="cl_chk_list">
                        <label for="">
                            % Rapprochée
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="" class="cl_chk_list">
                        <label for="">
                            Priorité
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

{# #00968899 #0096884d #bfffc466 #}
<script type="text/javascript">
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green'
    });
</script>