<div class="col-sm-12">
    <div class="checkbox checkbox-inline checkbox-primary">
        <input id="id_heriter_client" type="checkbox" {{ (tachesLibre and tachesLibre.tachesLibre) ? 'checked' : '' }}>
        <label for="id_heriter_client">Heriter&nbsp;du&nbsp;Client</label>
    </div>
    <div class="checkbox checkbox-inline">
        <input id="id_activer" type="checkbox" {{ (tachesLibre and tachesLibre.tachesLibre and tachesLibre.status == 0) ? '' : 'checked' }}>
        <label for="id_activer">Activer</label>
    </div>
</div>