<div class="row">
   <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12">
                <form class="form-horizontal">
                    <div class="form-group" style="margin-bottom: 10px;">
                        <label for="client-reputation" class="control-label col-lg-2">
                            <span>Client</span>
                        </label>
                        <div class="col-lg-10">
                            <select id="client-reputation" data-placeholder="Séléctionner un client" class="form-control chosen-select-client-reputation">
                                {% if isPicdataUser == false or clients|length > 1 %}
                                    <option value=""></option>
                                    <option value="0">Tous</option>
                                {% endif %}
                                {% for client in clients %}
                                <option value="{{ client.id }}">{{ client.nom }}</option>
                                {% endfor %}
                                </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
   </div>

   <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12">
                <form class="form-horizontal">
                    <div class="form-group" style="margin-bottom: 10px;">
                        <label for="exercice-reputation" class="control-label col-lg-2">
                            <span>Exercice</span>
                        </label>
                        <div class="col-lg-10">
                            <select id="exercice-reputation" class="form-control">
                                <option value=""></option>
                                </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
   </div>

   <div class="col-lg-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="btn-group" style="width: 150px;">
                    {#<button id="btn-go-tableau" class="btn btn-primary" style="width: 150px;">#}
                    <button id="btn_get_images_reputation" class="btn btn-primary" style="width: 70%;">
                        <i class="fa fa-arrow-circle-o-right"></i> Go
                    </button>

                    <div class="btn-group" style="width:30%">
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false"><i class="fa fa-download"> </i> <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li id="export-print-reputaion"><a href="#"><i class="fa fa-print" aria-hidden="true"></i> Imprimer</a></li>
                            <li class="divider"></li>
                            <li id="export-png-reputaion"><a href="#"><i class="fa fa-download" aria-hidden="true"></i> En format PNG</a></li>
                            <li id="export-jpeg-reputaion"><a href="#"><i class="fa fa-download" aria-hidden="true"></i> En format JPEG</a></li>
                            <li id="export-pdf-reputaion"><a href="#"><i class="fa fa-download" aria-hidden="true"></i> En format PDF</a></li>
                            <li class="divider"></li>
                            <li id="export-csv-reputaion"><a href="#"><i class="fa fa-file" aria-hidden="true"></i> Exporter en CSV</a></li>
                            <li id="export-xls-reputaion"><a href="#"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Exporter en XLS</a></li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>