{#Menu pour lancer Office#}

<li class="hidden-sm"><a data-toggle="dropdown" class="dropdown-toggle" href="#">Office</a>
    <ul class="dropdown-menu animated fadeInRight m-t-xs">
        <li><a class="user-app-launch" data-app="WINWORD" href="javascript:void(0)"><i class="fa fa-file-word-o blue"></i> Word</a></li>
        <li class="divider"></li>
        <li><a class="user-app-launch" data-app="EXCEL" href="javascript:void(0)"><i class="fa fa-file-excel-o green"></i> Excel</a></li>
        <li class="divider"></li>
        <li><a class="user-app-launch" data-app="POWERPNT" href="javascript:void(0)"><i class="fa fa-file-powerpoint-o red"></i> Powerpoint</a></li>
        <li class="divider"></li>
        <li><a class="user-app-launch" data-app="OUTLOOK" href="javascript:void(0)"><i class="fa fa-envelope-o"></i> Outlook</a></li>
    </ul>
</li>