{# src/ParametreBundle/Resources/views/Parametre/Entite/entite.html.twig #}

{% extends '@App/index/base-menu-intranet.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze'
        '@ParametreBundle/Resources/public/js/entite.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}
    {{ parent() }} ENTITES
{% endblock %}

{% block content %}
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Gestion des entités</h5>

            <div class="ibox-tools">
                <button id="btn-add-entite" class="btn btn-sm btn-primary" style="margin-right: 50px;">
                    <i class="fa fa-plus-circle"></i> Ajouter une entité
                </button>
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="jqGrid_wrapper">
                {#Liste des Entités chargé avec AJAX#}
                <table id="js_entite_liste"></table>
                <div id="pager_liste_entite"></div>
            </div>
        </div>
    </div>
    {# Modal pour ajouter ou modifier une Entité #}
    <div class="modal fade" tabindex="-1" role="dialog" id="entite-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 id="modal-entite-title" class="modal-title">Ajouter une entité</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger hidden" id="add-entite-erreur">

                    </div>
                    <form class="form-horizontal">
                        <input type="hidden" id="add-entite-id">

                        <div class="form-group">
                            <label for="add-entite-nom" class="col-sm-3 control-label">Nom</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="add-entite-nom" placeholder="nom" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="add-entite-form-juridique" class="col-sm-3 control-label">Forme
                                juridique</label>

                            <div class="col-sm-4">
                                <select id="add-entite-form-juridique" class="form-control">
                                    <option value="SARL">SARL</option>
                                    <option value="SA">SA</option>
                                    <option value="SU">SU</option>
                                    <option value="EURL">EURL</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="add-entite-adresse" class="col-sm-3 control-label">Adresse</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="add-entite-adresse" placeholder="adresse">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="add-entite-email" class="col-sm-3 control-label">Email</label>

                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="add-entite-email" placeholder="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="add-entite-telephone" class="col-sm-3 control-label">Téléphone</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="add-entite-telephone"
                                       placeholder="téléphone">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-sm btn-primary" id="btn-add-entite-save">Enregistrer</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
{% endblock %}