.footable-row-detail-cell
{
    padding: 0!important;
}
.footable-row-detail-name
{
    display: none;
}
.footable-row-detail-value
{
    margin-left: 10px!important;
}
#id_rf_accordion .panel-body
{
    padding: 7px!important;
}

.panel-white {
    border-color: #ddd;
}
.panel-white>.panel-heading {
    color: #333;
    background-color: #ffffff;
    border-color: #ddd;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.modal
{
    z-index: 1000000000!important;
}

.fix
{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100000!important;
    opacity: 0.95;
}

.datepicker-dropdown,.qtip-focus
{
    z-index: 1000000000000!important;
}