.tile-link, .tile-link:hover, .tile-link:active, .tile-link:visited {
    color: #a7b1c2;
    text-decoration: none;
    display: block;
}
.tile-menu {
    height: 250px;
    margin:10px 0;
    background-color: #fff;
    box-shadow:1px 2px 1px 1px #e4e4e4;
    border-top: 10px solid transparent;
    -webkit-transition: box-shadow .5s, transform .5s, color 1s;
    transition: box-shadow .5s, transform .5s, color 1s;
}

.tile-menu:hover {
    box-shadow:2px 2px 2px 2px #ccc;
    /*border-top: 10px solid #1ab394;*/
    transform: scale(1.1);
}
.tile-menu:hover .tile-icon {
    color: #5a778f;
}
.tile-menu:hover .tile-title {
    color: #a7b1c2;
}
.tile-menu .tile-title {
    color: #5a778f;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 40px 5px 10px;
    text-transform: uppercase;
    -webkit-transition: box-shadow .5s, transform .2s, color 1s;
    transition: box-shadow .5s, transform .2s, color 1s;
}
.tile-menu .tile-icon {
    text-align: center;
    font-size: 46px;
    -webkit-transition: box-shadow .5s, transform .2s, color 1s;
    transition: box-shadow .5s, transform .2s, color 1s;
}
.filtre {
    padding: 20px 24px 10px;
    background-color: #f3f3f4;
}

@media screen and (max-width: 768px){
    .tile-menu {
        margin:30px 0;
    }
    
}

.ui-jqgrid .ui-jqgrid-bdiv { overflow-y: scroll }

.ui-jqgrid .ui-jqgrid-htable .ui-jqgrid-btable  
  {
    table-layout:auto;
  }