<span class="btn btn-white btn-xs" id="btn-infoperdos"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;InfoPerdos</span>
<span class="btn btn-white btn-xs" id="btn-categorie"><i class="fa fa-tags"></i>&nbsp;&nbsp;Catégorie</span>
<span class="btn btn-white btn-xs" id="btn-recategorisation"><i class="fa fa-gear"></i>&nbsp;&nbsp;Recatégorisation</span>