<div class="col-lg-5" id="pdf-resize">
    <div id="pdf"></div>
</div>

<div class="col-lg-7" id="form-resize" style="margin-right: 0 !important;">
    <div class="ibox">

        <div class="ibox-title">
            {{ include('@Tenue/SaisieUniverselle/titleSaisie.html.twig') }}
        </div>

        <div class="form-group">
            {{ include('@Tenue/SaisieUniverselle/btnInfoPerdosRecategorisation.html.twig') }}
        </div>
        <div class="row">
            {{ include('@Tenue/SaisieUniverselle/dataCategorie.html.twig') }}
        </div>
        <div class="row">
            {{ include('@Tenue/SaisieUniverselle/infoperdos.html.twig') }}
        </div>
    </div>

</div>