<div class="col-md-2 text-right">
        <div class="btn-group simple_tag white-bg methode-dossier">
                <span class="pointer dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="libelle">Engagement</span>
                        <span class="badge badge-info"></span>
                </span>
                <ul class="dropdown-menu">
                        <li data-type="0" class="cl_methode_dossier"><a href="#">Engagement</a></li>
                        <li data-type="1" class="cl_methode_dossier"><a href="#">Trésorerie</a></li>
                </ul>
        </div>
</div>
{#<div class="col-md-2">#}
        {#<span class="btn btn-sm btn-warning btn-verfier-saisie">Verifier la Saisie</span>#}
{#</div>#}
<div class="col-md-3 saisir_label">

</div>