{% for item in datas %}
    <tr data-tid="" data-id="">
        <td class='numr'>item['num_releve']</td>;
        <td style="display:none;"></td>;
        <td> item['periode_d1'])</td>;
        <td> item['periode_f1'])
            <input type='hidden' value="item['periode_f1']) "></td>;
        <td> item['solde_debut'] </td>;
        <td> item['solde_fin'] </td>;
        <td>
            <div class="set_doublon" data-id="' . $item['id'] . '">$d</div>
        </td>;
    </tr>
{% endfor %}



