<div class="row">
    <div class="col-lg-12">
        {{ include('@Banque/Banque/saisie/saisie_carte_num_cb.html.twig') }}
    </div>
</div>
<div class="row">
    <div class="col-md-3 pull-right">
        <span id="js_form_cartecredit_submit" class="btn btn-sm btn-primary btn-block" ><i class="fa fa-check"></i> Terminer</span>
    </div>

</div>

<div class="row row-grid">
    <div class="col-lg-12" style="margin-top: 10px;">
        <table id="carte-credit-list"></table>
    </div>
</div>