<div class="row">
    <div class="col-md-3 pull-right">
        <span id="js_form_cartedebit_anpc" class="btn btn-sm btn-warning btn-block" ><i class="fa fa-check"></i> ANPC</span>
    </div>

    <div class="col-md-3 pull-right">
        <span id="js_form_cartedebit_submit" class="btn btn-sm btn-primary btn-block" ><i class="fa fa-check"></i> Terminer</span>
    </div>

</div>

<div class="row row-grid">
    <div class="col-lg-12" style="margin-top: 10px;">
        <table id="carte-debit-list"></table>
    </div>
</div>