<div class="form-group">
    <label class="col-md-1 control-label">Num CB</label>
    <div class="col-md-5">
        <div class="input-group">
            <select class="form-control numcbs">

            </select>
            <span class="input-group-btn">
                        <span class="btn btn-primary btn-add-numcb" ><i class="fa fa-plus"></i></span>
                    </span>
        </div>

        <div class="input-group hidden">
            <input type="text"  class="form-control newnumcb">
            <span class="input-group-btn">
                    <span class="btn btn-default btn-undo-numcb"><i class="fa fa-undo"></i></span>
                </span>
            <span class="input-group-btn">
                        <span class="btn btn-primary btn-save-numcb"><i class="fa fa-save"></i></span>
                    </span>
        </div>
    </div>
    <label class="col-md-1 control-label">Type CB</label>
    <div class="col-md-5">
        <select class="form-control typecb">
            <option value="-1"></option>
            <option value="0">Personnel</option>
            <option value="1">Société</option>
        </select>
    </div>
</div>