<div class="row ibox-content" >
    <div class="tabs-container">
        <div class="col-lg-10" >
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1">Générale</a></li>
                <li class=""><a data-toggle="tab" href="#tab-2">Comptable</a></li>
                <li class=""><a data-toggle="tab" href="#tab-3">Fiscale</a></li>
                <li class=""><a data-toggle="tab" href="#tab-4">Instruction</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <div class="col-lg-6">
                            <table id ="generale">
                            </table>
                        </div>
                        <div class="col-lg-46">
                            <table id ="mandataire">
                            </table>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <table id ="comptable">
                            </table>
                        </div>
                    </div>
                </div>
                <div id="tab-3" class="tab-pane">
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <table id ="fiscale">
                            </table>
                        </div>
                    </div>
                </div>
                <div id="tab-4" class="tab-pane">
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <div class="tabs-container">
                                <div class="tabs-left">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#tab-6">Instruction Saisie</a></li>
                                        <li class=""><a data-toggle="tab" href="#tab-7">Instruction tous Dossier</a></li>
                                    </ul>
                                    <div class="tab-content ">
                                        <div id="tab-6" class="tab-pane active">
                                            <div class="panel-body" id="isaisie">

                                            </div>
                                        </div>
                                        <div id="tab-7" class="tab-pane">
                                            <div class="panel-body" id="idossier">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>