<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <label class="col-md-1 control-label">N° Relevé</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="js_num_releve_bq" value="">
            </div>
            <label class="col-md-1 control-label">Date </label>
            <div class="col-md-2">
                <input type="text" class="input form-control" id="js_debut_bq_date" value="">
            </div>
            <label class="col-md-1 control-label">Au</label>
            <div class="col-md-2">
                <input type="text" class="input form-control" id="js_fin_bq_date" value="">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="form-group">

            <label class="col-md-offset-3 col-md-1 control-label">Débit </label>
            <div class="col-md-2">
                <input type="text" class="input form-control montant" id="js_debut_bq_debi" value="0.00">
            </div>

            <label class="col-md-1 control-label">Débit </label>
            <div class="col-md-2">
                <input type="text" class="input form-control montant" id="js_fin_bq_debi" value="0.00">
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <label class="col-md-offset-3 col-md-1 control-label">Crédit </label>
            <div class="col-md-2">
                <input type="text" class="input form-control montant" id="js_debut_bq_cred" value="0.00">
            </div>

            <label class="col-md-1 control-label">Crédit </label>
            <div class="col-md-2">
                <input type="text" class="input form-control montant" id="js_fin_bq_cred" value="0.00">
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <label class="col-md-offset-3 col-md-1 control-label">Page </label>
            <div class="col-md-2">
                <input type="text" class="input form-control page" id="js_debut_page" value="1">
            </div>

            <label class="col-md-1 control-label">Page </label>
            <div class="col-md-2">
                <input type="text" class="input form-control page" id="js_fin_page" value="1">
            </div>

            <div class="col-md-offset-1 col-md-1">
                <span id="js_form_bqsaisi_submit" class="btn btn-sm btn-primary" >Valider</span>
            </div>

        </div>
    </div>
</div>


<div class="row grid-row">
    <div class="col-lg-12" style="margin-top: 10px;">
        <table class="table" id="controle-list" ></table>
    </div>
</div>
