<div class="col-md-12">
    <div class="row">
        <div class="col-md-3">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="client" class="col-md-2 control-label">Client</label>
                    <div class="col-md-10">
                        <select id="client" data-placeholder="Séléctionner un client" class="form-control chosen-select-client">
                            <option value=""></option>
                            {% for client in clients %}
                                <option value="{{ client.id }}">{{ client.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="site" class="col-md-2 control-label">Site</label>
                    <div class="col-md-10">
                        <select id="site" data-placeholder="Séléctionner un site" class="form-control chosen-select-site">
                            <option value=""></option>
                            {#Liste site#}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="dossier" class="col-md-2 control-label">Dossier</label>
                    <div class="col-md-10">
                        <select id="dossier" data-placeholder="Séléctionner un dossier" class="form-control chosen-select-dossier">
                            <option value=""></option>
                            {#Liste dossier#}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="dossier" class="col-md-4 control-label">Exercice</label>
                    <div class="col-md-8">
                        <select id="exercice" class="form-control chosen-select-exercice">
                            {% for exercice in exercices %}
                                <option value="{{ exercice }}">{{ exercice }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-1">
            <button id="btn-traitement-facturette" class="btn btn-sm btn-primary btn-block">Go</button>
        </div>
        <div id="loader" class="col-md-1" style="padding-top: 5px;"></div>
    </div>
</div>